*{
    margin: 0;
    padding: 0;

}

#msg{
    color: red;
    
}
img{
    width: 200px;
}
#proArray{
    padding-top: 20px;
    margin-top: 20px;
}
#btnSearch{
    margin-bottom: 20px;
    margin-top: 10px;
    
}
#btnsign{
    margin-left: 50%;

}
#errMsg{
    color: red;
}

#quantity{
    margin-bottom: 30px;
}

#proArray .card{
    display: inline-flex;
}